*.pro.user
*.pro.user*
Makefile*
*.zip
Makefile
Makefile.*
Temp/
Dist/
Plugins/lib*.so*
Libs/HexEdit/lib
Libs/ImageDiff/lib
Libs/ScreenReader/bin
*.Debug
*.Release
*.dll
*.dylib
*.exp
*.pdb
*.ilk
*.i
.qmake.stash
*.sb
